*.o
*.tar.gz
.deps/*
Makefile
Makefile.in
aclocal.m4
autom4te.cache/*
compile
compile_commands.json
build.h
build.h.in
config.log
config.status
configure
depcomp
install-sh
missing
test-driver
rainbowpath
src/.deps/*
stamp-*
.dirstamp
*~
*.log
.clangd/
*.supp
*.trs
*.Po
test_parser